<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ticTacToe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B134B8601E1D475700B83109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B134B8741E1D475800B83109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B134B87F1E1D475800B83109</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
